![Snowshoe Hare](https://upload.wikimedia.org/wikipedia/commons/8/8a/SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg)

In [25]:
import pandas as pd
import numpy as np

In [2]:
URL = "https://portal.edirepository.org/nis/dataviewer?packageid=knb-lter-bnz.55.22&entityid=f01f5d71be949b8c700b6ecd1c42c701"
hares = pd.read_csv(URL)

What are the dimensions of the dataframe and what are the data types of the columns? 

Do the data types match what you would expect from each column?

Are there any columns that have a significant number of NA values?

What are the minimum and maximum values for the weight and hind feet measurements?

What are the unique values for some of the categorical columns?

An explroatory question about the data frame you come up with!

In [8]:
print(hares.shape, "\n\n", hares.dtypes)

(3380, 14)

 date           object
time           object
grid           object
trap           object
l_ear          object
r_ear          object
sex            object
age            object
weight        float64
hindft        float64
notes          object
b_key         float64
session_id      int64
study          object
dtype: object

In [15]:
hares.isna().sum()

date             0
time          3116
grid             0
trap            12
l_ear           48
r_ear          169
sex            352
age           2111
weight         535
hindft        1747
notes         3137
b_key           47
session_id       0
study          163
dtype: int64

## Detecting messy values
a. In the metadata section of the EDI repository, find which are the allowed values for the hares’ sex. Create a small table in a markdown cell showing the values and their definitions.

b. Get the number of times each unique sex non-NA value appears.

In [21]:
hares["sex"].unique()

array([nan, 'M', 'F', '?', 'F?', 'M?', 'pf', 'm', 'f', 'f?', 'm?', 'f ',
       'm '], dtype=object)

In [22]:
hares["sex"].value_counts()

F     1161
M      730
f      556
m      515
?       40
F?      10
f        4
m        4
f?       3
M?       2
m?       2
pf       1
Name: sex, dtype: int64

c. Check the documentation of value_counts(). What is the purpose of the dropna parameter and what is its default value? Repeat step (a), this time adding the dropna=False parameter to value_counts().

In [23]:
hares["sex"].value_counts(dropna=False)

F      1161
M       730
f       556
m       515
NaN     352
?        40
F?       10
f         4
m         4
f?        3
M?        2
m?        2
pf        1
Name: sex, dtype: int64

d. Discuss with your team the output of the unique value counts. In particular:

    i. Do the values in the sex column correspond to the values declared in the metadata?
    ii. What could have been potential causes for multiple codes?
    iii. Are there seemingly repated values? If so, what could be the cause?

6. Clean values

Create a new column called sex_simple using the numpy.select() function so that

‘F’, ‘f’, and ‘f_’ in the sex column get assigned to ‘female’,

‘M’, ‘m’, and ‘m_’ get assigned to ‘male’, and

anything else gets assigned np.nan

Check the counts of unique values (including NAs) in the new sex_simple column

In [27]:
condition=[hares["sex"].isin(('F', 'f', "F ", "f ")),
           hares["sex"].isin(('M', 'm', "M ", "m "))]

gender=["female", "male"]

hares["sex_simple"]=np.select(condition, gender, default=np.nan)

hares["sex_simple"]

0        nan
1       male
2       male
3        nan
4        nan
        ...
3375     nan
3376     nan
3377     nan
3378     nan
3379    male
Name: sex_simple, Length: 3380, dtype: object

e. Write code to confirm your suspicions about c-iii.